<section id="about-me">
  <p>
    {% if 'kk' in lang %}
      Сәлем
    {% else %}
      Hi there
    {% endif %}
    👋</p>
  <p>
    {% if 'kk' in lang %}
      Есімім Жаржан,
      <a href="https://deliveryhero.com">Delivery Hero</a>
      компаниясында Web Frontend саласында Staff Software Engineer болып жұмыс істеймін.
    {% else %}
      I am Zharzhan<small>
        <code>/ʒarʒan/</code>
      </small>
      a Staff Software Engineer at
      <a href="https://deliveryhero.com">Delivery Hero</a>
      with focus on Web Frontend.
    {% endif %}
  </p>
</section>