<section id="about-me">
  <p>
    {% if 'kk' in lang %}
      Сәлем
    {% else %}
      Hi there
    {% endif %}
    <span class="wave">👋</span></p>
  <p>
    {% if 'kk' in lang %}
      Есімім Жаржан,
      <a href="https://deliveryhero.com">Delivery Hero</a>
      компаниясында веб-фронтенд саласында Staff Software Engineer болып жұмыс істеймін.
    {% else %}
      I'm Zharzhan
      <small><code>/ʒarʒan/</code></small>, a Staff Software Engineer at
      <a href="https://deliveryhero.com">Delivery Hero</a>, focused on web frontend.
    {% endif %}
  </p>
</section>