{%- for blogpost in collections.blog | reverse -%}
  <a href="{{ blogpost.url }}" lang="{{ blogpost.data.lang }}">{{ blogpost.data.title }}</a>
  <small>{{ blogpost.data.lang }} | <time datetime="{{ blogpost.date | isoDate }}">{{ blogpost.date.toLocaleDateString("kk-KZ") }}</time></small>
  <br/>
{%- endfor -%}
