{%- for blogpost in collections.blog | reverse -%}
  <a href="{{ blogpost.url }}">{{ blogpost.data.title }}</a>
  <small>{{ blogpost.data.lang }} | {{ blogpost.date.toLocaleDateString("kk-KZ") }}</small>
  <br/>
{%- endfor -%}