<a class="link font-bold" href="mailto:hey@jarjan.xyz">hey@jarjan.xyz</a>
<br/>
<a class="link" href="https://github.com/jarjan" rel="me">github</a>
<a class="link" href="https://mstdn.social/@jarjan" rel="me">mastodon</a>
<a class="link" href="https://t.me/zharzhan" rel="me">telegram</a>
<a class="link" href="https://linkedin.com/in/zharzhan" rel="me">linkedin</a>