<a href="mailto:hey@jarjan.xyz">
  <strong>hey@jarjan.xyz</strong>
</a>
<br/>
<a href="https://github.com/jarjan" rel="me">github</a>
<a href="https://linkedin.com/in/zharzhan" rel="me">linkedin</a>
<a href="https://bsky.app/profile/jarjan.xyz" rel="me">bluesky</a>
<a href="https://threads.net/@jarjanxyz" rel="me">threads</a>
<a href="https://t.me/zharzhan" rel="me">telegram</a>
