<section id="projects">
  <h2>{{ t.petProjects }}</h2>
  <ul class="post-list project-list">
  {%- for project in projects %}
    <li>
      <a href="{{ project.url }}">{{ project.name }}</a>
      <span class="project-list__desc">{{ project.description[lang] }}</span>
    </li>
  {%- endfor %}
  </ul>
</section>
