---
layout: layouts/post.njk
tags: posts
date: 2022-08-05
title: Can I CSS?
description: Reflection on CSS usage in recent years
lang: en
---

<p class="mb-1">
  <em class="pr-1">Can I CSS?</em> That would be a weird question to ask me.
</p>
<p class="mb-3">
  Given my around nine years of experience, of course, I can. But lately, I feel
  more and more distant from it. So I just wanted to reflect those thoughts with
  future me, and perhaps you.
</p>
<h2 class="text-2xl mb-1">Golden Age of Bootstrap</h2>
<p class="mb-1">
  When I had just graduated from uni in 2013 and started to work at a local
  startup, the title Frontend Developer was a novelty. Not many people called
  themselves like that; everyone was just a Web Developer. And yet, already,
  many Web Developers didn't like to write CSS and were delegating those tasks
  to Frontend Developers.
</p>
<p class="mb1">As for</p>
<figure class="relative sm:w-2/3">
  <img src="/images/website-from-2013.jpg" alt="Screenshot of a website" />
  <figcaption
    class="absolute bottom-0 left-0 right-0 p-2 font-semibold text-xs text-center text-slate-900 dark:text-slate-200 bg-slate-50/90 dark:bg-slate-700/90 backdrop-blur"
  >
    Sample website from 2013.
    <a
      class="link inline"
      href="https://www.behance.net/gallery/7023523/care-super-website-2013"
      >Credits</a
    >.
  </figcaption>
</figure>
