---
layout: layouts/post.njk
tags: posts
date: 2022-07-05
title: Yet another first post
description: (Re)Starting a new blog
lang: en
---

<p class="mb-1">As the title says, I am publishing yet another first blog post. This time it is in English and Kazakh. It is built from scratch using <a href="https://11ty.dev">11ty</a>.</p>
<p class="mb-1">I decided to return to writing posts because I need to dump my thoughts somewhere, and I need to improve my English. Previously, I mostly used existing blog platforms such as WordPress or Tumblr, but I am committed to creating everything from scratch this time. And I believe that knowledge should be shared, or at least stored in some media somewhere for future someone to read/analyze it.</p>
<p class="mb-1">Everything is still a work in progress, and I will be revisiting this post and the entire website. I will try to keep this short initially; it has been a long time since I wrote blog posts.</p>