---
layout: layouts/post.njk
tags: posts
title: Yet another first post
description: (Re)Starting a new blog
---

<p class="mb-3">Yes, as title says, I am publishing my yet another first blog post. This time it is in English and Kazakh. Built from scratch using <a href="https://11ty.dev">11ty</a>.</p>
<p class="mb-3">I decided to come back to writing posts, because I need to dump my thoughts somewhere, plus I really need to improve my English. Previously, I mostly used existing blog platforms such as Wordpress or Tumblr, but this time I am committed to create everything from zero. And I believe, that knowledge should be shared, or at least stored in some sort of media somewhere for future someone to read/analyze it.</p>
<p class="mb-3">Right now everything is still work in progress, and I will be revisiting this post and generally entire website as well. I will try to keep this short in the beginning, it has been a long time since I wrote blog posts.</p>