---
layout: layouts/post.njk
tags: post
title: Yet another first post
---

<p class="mb-3">Yes, as title says, I am publishing my yet another first blog post. This time it is in English and on my personal website that I build from scratch using 11ty.</p>
<p class="mb-3">I decided to come back to writing posts, because I need to dump my thoughts somewhere, plus I really need to improve my English. Previously, I mostly used existing blog platforms such as Wordpress or Tumblr, but this time I am committed to create everything from zero.</p>
<p class="mb-3">Right now everything is still work in progress, and I will be revisiting this post and generally entire website as well.</p>