<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="generator" content="{{ eleventy.generator }}"/>
    <title>{{ title }} | {{ 'Жаржан Құлмырза' if 'kk' in lang else 'Zharzhan Kulmyrza' }}</title>
    <meta name="description" content="{{ description }}"/>
    <meta property="og:title" content="{{ title }} | {{ 'Жаржан Құлмырза' if 'kk' in lang else 'Zharzhan Kulmyrza' }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jarjan.xyz{{ page.url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <style type="text/css">{{googleFontsStylesheet | safe}}</style>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Zharzhan Kulmyrza"/>
    <link rel="me" href="https://mastodon.social/@jarjan"/>
    <link rel="me" href="https://threads.net/@jarjanxyz"/>
  </head>
  <body>
    <header class="header">
      <a href="/" title="jarjan.xyz" class="header__logo">
        <svg viewbox="0 0 295 295" xmlns="http://www.w3.org/2000/svg" width="40" height="40">
          <g fill="none" fill-rule="evenodd">
            <path fill="#5990dc" d="M0 0h295v295H0z"/>
            <path
              d="M166.44 188.184c0 4.512.432 8.568 1.296 12.168.864 3.6 2.304 6.672 4.32 9.216 2.016 2.544 4.68 4.512 7.992 5.904 3.312
                1.392 7.416 2.088 12.312 2.088 1.632 0 3.312-.072 5.04-.216a25.244 25.244 0 0 0 5.04-.936l-1.152-19.152c-1.728.864-3.6
                1.296-5.616 1.296-1.824 0-3.264-.48-4.32-1.44-1.056-.96-1.824-2.16-2.304-3.6a17.82 17.82 0 0 1-.864-4.608 76.558 76.558 0
                0 1-.144-4.464v-71.424h-21.6v75.168z"
              fill="#FFF"/>
            <path
              d="M165 89.576c0-3.456 1.224-6.408 3.672-8.856 2.448-2.448 5.4-3.672 8.856-3.672 3.456 0 6.408 1.224 8.856 3.672 2.448
                2.448 3.672 5.4 3.672 8.856 0 3.456-1.224 6.408-3.672 8.856-2.448 2.448-5.4 3.672-8.856 3.672-3.456
                0-6.408-1.224-8.856-3.672-2.448-2.448-3.672-5.4-3.672-8.856z"
              fill="#C40F25"/>
            <path
              d="M156.072 148.872c0 4.704-.408 9.264-1.224 13.68-.816 4.416-2.376 8.328-4.68 11.736-2.304 3.408-5.592 6.144-9.864
                8.208-4.272 2.064-9.864 3.096-16.776 3.096-8.064 0-14.88-1.92-20.448-5.76s-9.168-9.84-10.8-18l20.592-5.04c.288 2.496
                1.416 4.608 3.384 6.336 1.968 1.728 4.2 2.592 6.696 2.592 2.592 0 4.608-.648 6.048-1.944 1.44-1.296 2.496-2.904
                3.168-4.824.672-1.92 1.08-4.008 1.224-6.264.144-2.256.216-4.344.216-6.264V81.048h22.464v67.824z"
              fill="#FFF"/>
          </g>
        </svg>
        <span class="sr-only">
          {% if 'kk' in lang %}
            Жаржан Құлмырза
          {% else %}
            Zharzhan Kulmyrza
          {% endif %}
        </span>
      </a>
      <p class="header__name">
        {% if 'kk' in lang %}
          Жаржан Құлмырза
        {% else %}
          Zharzhan Kulmyrza
        {% endif %}
      </p>
      <div class="header__links">
        {% set blogRegExp = r/^\/blog\/.*/gm %}
        {% if 'kk' in lang %}
          <a href="/kk" class="{{ ' active' if page.url == '/kk/' or blogRegExp.test(page.url) }}">Блог</a>
          <a href="/kk/projects" class="{{ ' active' if page.url == '/kk/projects/' }}">Жобалар</a>
        {% else %}
          <a href="/" class="{{ ' active' if page.url == '/' or blogRegExp.test(page.url) }}">Blog</a>
          <a href="/projects" class="{{ ' active' if page.url == '/projects/' }}">Projects</a>
        {% endif %}
      </div>
      {% if page.url == "/" %}
        <a href="/kk" class="header__lang">Қазақша</a>
      {% endif %}
      {% if  page.url == "/projects/" %}
        <a href="/kk/projects" class="header__lang">Қазақша</a>
      {% endif %}
      {% if page.url === "/kk/" %}
        <a href="/" class="header__lang">English</a>
      {% endif %}
      {% if page.url == "/kk/projects/" %}
        <a href="/projects" class="header__lang">English</a>
      {% endif %}
    </header>
    <hr/>
    <main class="content flex-1">
      {{ content | safe }}
    </main>
    <hr/>
    <footer class="footer">
      <div class="footer__copy">
        {% if 'kk' in lang %}
          <span role="img" aria-label="Қазақстан">🇰🇿</span>-да туып өстім.
          <span role="img" aria-label="Германия">🇩🇪</span>-да код жазып өмір сүремін. <br/> © Жаржан Құлмырза {{ currentYear }}
        {% else %}
          Born and raised in
          <span role="img" aria-label="Kazakhstan">🇰🇿</span>. Living and coding in
          <span role="img" aria-label="Germany">🇩🇪</span>. <br/> © Zharzhan Kulmyrza {{ currentYear }}
        {% endif %}
      </div>
      <div class="footer__links">
        {% include 'contacts_links.njk' %}
      </div>
    </footer>
    <script type="application/ld+json">
      { "@context": "http://www.schema.org", "@type": "person", "name": "Zharzhan Kulmyrza", "jobTitle": "Frontend Web
      Engineer", "url": "https://jarjan.xyz", "email": "hey@jarjan.xyz", "sameAs": ["https://github.com/jarjan",
      "https://mastodon.social/@jarjan", "https://t.me/zharzhan", "https://linkedin.com/in/zharzhan",
      "https://threads.net/@jarjanxyz"] }
    </script>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
  </body>
</html>
