---
layout: layouts/base.njk
---

<section class="post">
  <header>
    <h1 class="post__title">{{ title }}</h1>
    <small>
      {{ page.date.toLocaleDateString("kk-KZ") }} | {{ content | timeToRead (lang) }}
    </small>
  </header>
  {{ content | safe }}
</section>
