---
layout: layouts/base.njk
---

<section class="pt-5">
  <h1 class="text-4xl font-extrabold">{{ title }}</h1>
  <p class="text-sm text-slate-500 dark:text-slate-300">Posted on {{ page.date.toLocaleDateString('en-GB') }}</p>
  <div class="py-5 max-w-screen-md">
    {{ content | safe }}
  </div>
</section>