---
layout: layouts/base.njk
---

<section class="post">
  <header>
    <h1 class="post__title">{{ title }}</h1>
    <p class="post__date">
      {{ page.date.toLocaleDateString("kk-KZ") }}
    </p>
  </header>
  {{ content | safe }}
</section>