body {
  margin: 0;
  padding: 0;
}

section {
  height: calc(100vh - 4em);
  background-color: #1b1a22;
  background-image: url(~/assets/img/back.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 2em;
  position: relative;
}

section:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(74, 144, 226, 0.8);
}

section > div {
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: 60em;
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
}

h1,
p {
  color: #fff;
}

p,
small {
  font-family: 'PT Serif', serif;
}

a {
  color: #fff;
  display: inline-block;
  border-radius: 2px;
  padding: 0 0.1em;
  margin: 0 -0.1em;
}

a:hover {
  background: #fff;
  color: #4a90e2;
  text-decoration: none;
}

a > svg {
  fill: #fff;
  padding: 0.2em;
  width: 1em;
  vertical-align: middle;
}

a:hover > svg {
  fill: #4a90e2;
}

@media(max-width:30em) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
