body {
  margin: 0;
  padding: 0;
}

section {
  height: calc(100vh - 4em);
  background-color: #060606;
  background-image: url(~/assets/img/dark.jpg);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  padding: 2em;
  position: relative;
}

section > div {
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: 60em;
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
}

h1,
p {
  color: #fff;
}

p,
small {
  font-family: 'PT Serif', serif;
}

a {
  color: #4a90e2;
  display: inline-block;
  border-radius: 2px;
  padding: 0 0.1em;
  margin: 0 -0.1em;
}

a:hover {
  background: #fff;
  text-decoration: none;
}

a > svg {
  fill: #fff;
  padding: 0.2em;
  width: 1em;
  vertical-align: middle;
}

a:hover > svg {
  fill: #4a90e2;
}
