*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  font-size: 125%;
  font-family:
    Alegreya Sans,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;

  background-color: #f9fbfc;
  color: #0f172a;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  line-height: inherit;
  height: 100vh;

  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums;
}

hr {
  height: 0;
  width: 100%;
  border: 0;
  border-top: 1px solid #cce0ff;
}

a {
  text-decoration: underline;
  color: #4990e2;
}

a:hover {
  color: #003878;
  text-decoration-thickness: 0.075rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

small {
  font-size: 0.8rem;
  color: #64738b;
}

blockquote {
  position: relative;
  padding: 0.25em 0.5em;
  margin: 0;
  background-color: rgba(89, 144, 220, 0.05);
}

blockquote::before {
  content: "";
  background-color: #5990dc;
  height: 100%;
  width: 3px;
  position: absolute;
  left: 0;
  top: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;

  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.header + hr {
  margin: 0;
}

.header__logo {
  width: 1rem;
  height: 1rem;
}

.header__name {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  flex: 1;
  gap: 0.5rem;
}

.header__links {
  display: flex;
  order: 1;
  gap: 0.5rem;
  width: 100%;
}

.header__links a.active {
  color: #003878;
  text-decoration-thickness: 0.075rem;
}

.header__lang {
  margin-left: auto;
  font-size: 0.75rem;
  text-align: right;
}

.content {
  flex: 1;

  max-width: 40rem;
  width: 100%;

  margin: 0 auto;
  padding: 1rem;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page h2 {
  margin-bottom: 0.25rem;
}

.subscribe {
  padding-left: 0.25rem;
}
.subscribe svg {
  width: 0.5rem;
  height: 0.5rem;
}

.page #posts > a {
  display: block;
  line-height: 1;
  margin-top: 0.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.75rem;

  max-width: 40rem;
  width: 100%;

  margin: 0 auto;
  padding: 1rem;

  font-size: 0.75rem;
  line-height: 1rem;
}

.footer__copy {
  order: 1;
}

.footer__links {
  flex: 1;
}

.post > p,
.post > blockquote {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.post h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (min-width: 640px) {
  .header + hr {
    display: none;
  }

  .header__logo {
    width: 2rem;
    height: 2rem;
  }

  .header__name {
    flex: initial;
  }

  .header__links {
    order: initial;
    flex: 1;
  }

  .header__links a {
    margin-left: 0.5rem;
  }

  .footer {
    flex-direction: row;
    gap: 0;
  }

  .footer__copy {
    order: initial;
  }

  .footer__links {
    text-align: right;
  }

  .page #posts > a {
    display: inline;
    line-height: initial;
    margin-top: 0;
  }
}
