@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 24px;
  font-size: 150%;
}

@layer components {
  .post a,
  .link {
    @apply p-1 -m-1 text-blue-600 underline ease-in-out transition-colors hover:text-white hover:bg-blue-600 hover:relative hover:z-10;
  }
  .post h2 {
    @apply text-2xl my-1;
  }
  .post p {
    @apply mb-1;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
