---
layout: layouts/base.njk
---

<div class="py-5">
  <p class="mb-5">
    Currently work at <a class="text-blue-500 underline hover:text-white" href="https://deliveryhero.com">Delivery Hero</a>.
    Previously at <a class="text-blue-500 underline hover:text-white" href="https://chocomart.kz">Chocomart</a>, <a class="text-blue-500 underline hover:text-white" href="https://hipo.kz">HiPO</a>, <a class="text-blue-500 underline hover:text-white" href="https://ktpay.kz">KT Pay</a>, and <a class="text-blue-500 underline hover:text-white" href="https://petrel.ai">Petrel AI</a>.
    <br/>
    You can find me on internet as <i>zharzhan</i> or <i>jarjan</i>. Oh, and my name is spelled as [/ʒarʒan/].
    <br/>
    Here are few subjects I am interested in, in no particular order: web performance, vue, react, js, css, ux.
  </p>
  <section class="mb-5">
    <h2 class="text-2xl font-bold">Contacts and links</h2>
    <a class="text-blue-500 underline hover:text-white font-bold block" href="mailto:hey@jarjan.xyz">hey@jarjan.xyz</a>
    <a class="text-blue-500 underline hover:text-white" href="https://github.com/jarjan">github</a>
    <a class="text-blue-500 underline hover:text-white" href="https://twitter.com/jarjan">twitter</a>
    <a class="text-blue-500 underline hover:text-white" href="https://t.me/zharzhan">telegram</a>
    <a class="text-blue-500 underline hover:text-white" href="https://linkedin.com/in/zharzhan">linkedin</a>
    <a class="text-blue-500 underline hover:text-white" href="https://keybase.io/jarjan">gpg</a>
  </section>
  <section class="mb-5">
    <h2 class="text-2xl font-bold">Projects</h2>
    <a class="text-blue-500 underline hover:text-white" href="https://jjermany.blog">jjermany.blog</a> – blog about life in Germany(in russian)
    <br/>
    <a class="text-blue-500 underline hover:text-white" href="https://tenge.work">tenge.work</a> – salary calculator for Kazakhstan
    <br/>
    <a class="text-blue-500 underline hover:text-white" href="https://pixel.jarjan.xyz">pixel.jarjan.xyz</a> – photos taken on Pixel 3 #teampixel
  </section>
  <section>
    <p>
      <small>Born and raised in <span role="img" aria-label="Kazakhstan">🇰🇿</span></small>
      <br/>
      <small>Living and coding in <span role="img" aria-label="Germany">🇩🇪</span></small>
    </p>
  </section>
</div>