---
layout: layouts/base.njk
---

<div class="py-5">
  <section class="mb-5" id="about-me">
    <h2 class="text-2xl font-bold">About me</h2>
    <p>
      Currently working at <a class="link" href="https://deliveryhero.com">Delivery Hero</a>.
      Previously worked on <a class="link" href="https://chocomart.kz">Chocomart</a>, <a class="link" href="https://hipo.kz">HiPO</a>, <a class="link" href="https://ktpay.kz">KT Pay</a>, and <a class="link" href="https://petrel.ai">Petrel AI</a>.
      <br/>
      You can find me on internet as <i>zharzhan</i> or <i>jarjan</i>. Oh, and my name is spelled as <code>[/ʒarʒan/]</code>.
      <br/>
      Here are few subjects I am interested in, in no particular order: web performance, vue, react, js, css, ux.
    </p>
  </section>
  <section class="mb-5" id="contacts">
    <h2 class="text-2xl font-bold">Contacts and links</h2>
    <a class="link font-bold" href="mailto:hey@jarjan.xyz">hey@jarjan.xyz</a>
    <br/>
    <a class="link" href="https://github.com/jarjan" rel="me">github</a>
    <a class="link" href="https://twitter.com/jarjan" rel="me">twitter</a>
    <a class="link" href="https://t.me/zharzhan" rel="me">telegram</a>
    <a class="link" href="https://linkedin.com/in/zharzhan" rel="me">linkedin</a>
    <a class="link" href="https://keybase.io/jarjan" rel="me">gpg</a>
  </section>
  <section class="mb-5" id="projects">
    <h2 class="text-2xl font-bold">Projects</h2>
    <a class="link" href="https://tenge.work">tenge.work</a> – salary tax calculator for Kazakhstan
    <br/>
    <a class="link" href="https://pixel.jarjan.xyz">pixel.jarjan.xyz</a> – photos taken on Google Pixel phones #teampixel
    <br/>
    <a class="link" href="https://wordle.jarjan.xyz">wordle.jarjan.xyz</a> – clone of Wordle game in Kazakh language
    <br/>
    <a class="link" href="https://jjermany.blog">jjermany.blog</a> – blog about life in Germany(in russian)[archived]
  </section>
</div>