---
layout: layouts/base.njk
title: Жаржан Құлмырза
description: Фронтенд уеб инженері
lang: kk
---

<div class="flex flex-col gap-5">
  <section id="about-me">
    <h2 class="text-2xl font-bold">Мен туралы</h2>
    <p class="leading-normal">
      Қазіргі жұмыс орным: <a class="link" href="https://deliveryhero.com">Delivery Hero</a>.
      Бұрын жұмыс істеген жерлерім: <a class="link" href="https://chocomart.kz">Chocomart</a>, <a class="link" href="https://hipo.kz">HiPO</a>, <a class="link" href="https://ktpay.kz">KT Pay</a>, және <a class="link" href="https://petrel.ai">Petrel AI</a>.
      <br/>
      Мені ғаламторда <i>zharzhan</i> немесе <i>jarjan</i> деген есімдермен табуға болады.
      <br/>
      Еш өзгеше реті жоқ, мені қызықтыратын тақырыптар: web performance, vue, react, js, css, ux.
    </p>
  </section>
  <section id="contacts">
    <h2 class="text-2xl font-bold">Байланыс сілтемелері</h2>
    <a class="link font-bold" href="mailto:hey@jarjan.xyz">hey@jarjan.xyz</a>
    <br/>
    <a class="link" href="https://github.com/jarjan" rel="me">github</a>
    <a class="link" href="https://twitter.com/jarjan" rel="me">twitter</a>
    <a class="link" href="https://t.me/zharzhan" rel="me">telegram</a>
    <a class="link" href="https://linkedin.com/in/zharzhan" rel="me">linkedin</a>
    <a class="link" href="https://keybase.io/jarjan" rel="me">gpg</a>
  </section>
  <section id="projects">
    <h2 class="text-2xl font-bold">Жобалар</h2>
    <a class="link" href="https://tenge.work">tenge.work</a> – Қазақстан айлық салығы есептеуіші
    <br/>
    <a class="link" href="https://pixel.jarjan.xyz">pixel.jarjan.xyz</a> – Google Pixel ұялы телефондарына түсірілген суреттер жинағы #teampixel
    <br/>
    <a class="link" href="https://wordle.jarjan.xyz">wordle.jarjan.xyz</a> – Wordle ойының қазақ тіліндегі клоны
    <br/>
    <a class="link" href="https://jjermany.blog">jjermany.blog</a> – Германиядағы өмір туралы блог(орысша)[мұрағатталған]
  </section>
  <section id="posts">
    <h2 class="text-2xl font-bold">Блог жазбалары <a href="/feed.xml">
        <svg class="w-4 h-4 inline dark:fill-white" viewBox="0 0 24 24" width="16px" height="16px" xmlns="http://www.w3.org/2000/svg"><path d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415a3.3 3.3 0 0 1 3.293 3.295A3.303 3.303 0 0 1 3.283 24C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/></svg>
      </a>
    </h2>
    {%- for post in collections.posts | reverse -%}
      <a class="text-xl link" href={{ post.url }}>{{ post.data.title }}</a>
      <span class="text-xs text-slate-500 dark:text-slate-300">{{ post.date.toDateString() }}</span>
      <br/>
    {%- endfor -%}
  </section>
</div>