---
layout: layouts/base.njk
title: Zharzhan Kulmyrza
description: My projects
lang: en
translation: /kk/projects/
---

<div class="page">
  {% include 'about_me.njk' %}
  {% include 'projects_list.njk' %}
</div>
