---
layout: layouts/base.njk
title: Zharzhan Kulmyrza
description: My projects
lang: en
---

<div class="page">
  {% include 'about_me.njk' %}
  <section id="projects">
    <h2>Pet projects</h2>
    <p>
      <a href="https://tenge.work">tenge.work</a>
      – salary tax calculator for Kazakhstan
    </p>
    <p>
      <a href="https://wordle.jarjan.xyz">wordle.jarjan.xyz</a>
      – clone of Wordle game in Kazakh language
    </p>
    <p>
      <a href="https://github.com/jarjan/sundaycoding">sundaycoding</a>
      – my lame attempts to solve programming challenges</p>
  </section>
</div>