---
layout: layouts/base.njk
title: Жаржан Құлмырза
description: "Берлиндегі Delivery Hero компаниясында Staff Software Engineer болып жұмыс істеймін. Веб-фронтенд, мансап және Германиядағы өмір туралы қазақша және ағылшынша жазамын."
lang: kk
translation: /
---

<div class="page">
  {% include 'about_me.njk' %}
  {% include 'posts_list.njk' %}
</div>
