---
layout: layouts/base.njk
title: Жаржан Құлмырза
description: Фронтенд уеб инженері
lang: kk
translation: /
---

<div class="page">
  {% include 'about_me.njk' %}
  {% include 'posts_list.njk' %}
</div>
