---
layout: layouts/base.njk
title: Жаржан Құлмырза
description: Менің жобаларым
lang: kk
translation: /projects/
---

<div class="page">
  {% include 'about_me.njk' %}
  {% include 'projects_list.njk' %}
</div>
