---
layout: layouts/base.njk
title: Жаржан Құлмырза
description: Менің жобаларым
lang: kk
---

<div class="page">
  {% include 'about_me.njk' %}
  <section id="projects">
    <h2>Жеке жобалар</h2>
    <p>
      <a href="https://tenge.work">tenge.work</a>
      – Қазақстан айлық салығы есептеуіші
    </p>
    <p>
      <a href="https://wordle.jarjan.xyz">wordle.jarjan.xyz</a>
      – Wordle ойының қазақ тіліндегі клоны
    </p>
    <p>
      <a href="https://github.com/jarjan/sundaycoding">sundaycoding</a>
      – программалық сынақтардың ерігіп жазған шешімдерім</p>
  </section>
</div>