---
layout: layouts/base.njk
title: "Жобалар"
description: "Жаржан Құлмырзаның жеке жобалары: Қазақстанға арналған айлық салық есептеуіші, қазақша Wordle және программалық сынақтардың шешімдері."
lang: kk
translation: /projects/
---

<div class="page">
  {% include 'about_me.njk' %}
  {% include 'projects_list.njk' %}
</div>
